body {
  background-color: grey;
  color: LightGrey;
  font-family: Copperplate;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: DarkRed;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: LightGrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
}
